/*# sourceURL=/tpl/classic/css/default.css?r=1562938899 */
/*@ sourceURL=/tpl/classic/css/default.css?r=1562938899 */
body {
  word-wrap: break-word;
  word-break: break-all;
  /* padding: 2px 5px; */
  background-color: #ffffff;
  color: #000000;
  max-width: 1024px;
  margin: 0px auto;
  /* box-shadow: 0 0 15px #ccc; */
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;
}

p,
div {
  overflow: hidden;
}

p {
  margin: 0px;
  padding: 2px 1px 2px 1px;
}

a {
  text-decoration: none;
  color: #08c;
}

img,
input,
textarea {
  max-width: 100%;
  vertical-align: middle;
}

hr {
  height: 1px;
  border: 1px solid #bed8ea;
  border-left: none;
  border-right: none;
}

.hu60_face,
#face img {
  width: 32px;
  max-width: 32px;
}

/*代码高亮*/
.hu60_code code,
.markdown-body pre code {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
}
.hu60_code code {
  background-color: #f7f7f7;
}
