@import './variables.scss';

page {
	background-color: $pageBg;
	// height: 100%;
	// overflow: auto;
}

.page-content {
	padding: 0 16px;
	background-color: $pageBg;
	// height: 100%;
	overflow: auto;
}
