@import './variables.scss';

page {
	background-color: $pageBg;
	// height: 100%;
	// overflow: auto;
}

.page-content {
	padding: 0 16px;
	background-color: $pageBg;
	// height: 100%;
	overflow: auto;
}

.hu60_face {
	width: 32px;
	max-width: 32px;
}

.u-tip-show {
	z-index: 980 !important;
}